div.div-row {
  display: flex;
  flex-flow: row;
  padding: 1em;
}

div.div-center-list {
  display: flex;
  flex-direction: column;
}

div.div-row-normal {
  display: flex;
  flex-flow: row;
  margin-bottom: 1em;
}

div.div-row-100 {
  display: flex;
  flex-flow: row;
  padding: 1em;
  width: 100%;
}

div.div-row-title {
  display: flex;
  flex-flow: row;
  padding: 1em;
}

div.div-row-papers {
  display: flex;
  flex-flow: row;
  padding: 1em;
}

div.div-row-center {
  display: flex;
  flex-flow: row;
  justify-content: center;
  margin-right: 1em;
  margin-bottom: 1em;
  margin-top: 1.4em;
}

img.img-cart {
  width: 32%;
  height: 32%;
}

div.div-row-center-paper {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

div.div-column {
  display: flex;
  flex-flow: column;
}

div.div-flex {
  flex: 1;
}

div.div-center {
  margin: auto;
}

div.div-margin-right {
  margin-right: 1em;
}

div.div-grid {
  --grid-layout-gap: 1rem;
  --grid-column-count: 4;
  --grid-item--min-width: 320px;

  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);
  padding: 10px;
}

.mobile-papers {
  max-width: 420px;
  padding: 3px;
}

div.cart-mobile-papers {
  margin-bottom: 1em;
  max-width: 550px;
  padding: 3px;
}

button.cart-button-back {
  margin: 1em;
}

div.cart-list {
  /* padding: 3em */
}

svg.icons-paper {
  margin-right: 6px;
}

svg.icons-paper-cart {
  margin-bottom: -5px;
  margin-right: 5px;
}

div.toolbar {
  min-height: 88px;
}

span.typography-bar-title {
  font-size: 28px;
  margin-top: 1em;
}

p.typography-theme {
  margin-right: 2em;
}

p.typography-mobileList-title {
  margin: auto;
  font-size: 22px;
  font-weight: 500;
}

p.cart-modelbrand {
  font-size: 18px;
  margin-top: 5px;
}

p.cart-price {
  font-size: 24px;
  margin-left: 1em;
  font-weight: 600;
  margin-right: 10px;
}

p.typography-cart-title {
  margin: auto;
  font-size: 34px;
  font-weight: 500;
  margin-left: 2em;
  margin-bottom: 0.6em;
}

p.typography-mobileList-filter {
  margin: auto;
  margin-right: 0.8rem;
  margin-left: 0.8rem;
  font-size: 18px;
  font-weight: 500;
}

p.typography-description {
  font-weight: 600;
  font-size: 18px;
}

div.textfield-filter {
  margin-right: 1em;
}

button.details-button {
  margin-left: 8px;
  font-size: 13px;

}

button.details-button:hover {
  background-color: rgba(255, 231, 251, 0.781);
}

.circular-progress {
  margin: auto;
  margin-top: 4em;
  margin-bottom: 4em;
}

div.paper-description {
  display: flex;
  direction: row;
  padding: 2em;
  margin-right: 1em;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 2em;
}

img.img-description {
  min-width: 180px;
  margin-bottom: auto;
  margin-left: 1em;
  margin-right: 4em;
}

button.action-buttons {
  margin-right: 1em;
}

button.action-buttons:hover {
  background-color: rgba(255, 231, 251, 0.781);
}

div.div-column-center-cart {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1.4em;
}

button.button-language {
  color: white;
  margin-left: 2em;
  font-size: 16px;
}

button.up-button {
  position: fixed;
  height: 56px;
  width: 56px;
  background-color: rgba(201, 115, 232, 0.18);
  bottom: 1em;
  right: 1em;
}

button.up-button:hover {
  background-color: rgba(192, 125, 190, 0.521)
}

footer {
  width: 100%;
}

div.div-row-footer {
  display: flex;
  flex-flow: row;
  padding: 1em;
  justify-content: center;
  align-items: center;
}

p.footer-title {
  font-weight: 600;
}

div.div-social {
  margin-left: 1em;
  margin-right: 15px;
}

p.items-cart {
  margin-right: 10px;
  margin-left: 2px;
}

button.delete-icon {
  margin-bottom: 4px;
  margin-left: -4px;
}

div.div-row-center-cart {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin-left: 1em;
  margin-bottom: 1em;
  margin-top: 1.4em;
}

div.div-row-column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3em;
  padding-top: 0em;
}

div.paper-summary {
  margin-left: 2em;
  padding: 1.4em;
  width: 76%;
}

p.cart-summary {
  font-size: 20px;
  margin-top: 1em;
  margin-bottom: 1em;
  font-weight: 600;
  text-align: center;
}

p.cart-total {
  margin-top: 1em;
  margin-bottom: 0.6em;
  font-weight: 600;
  text-align: center;
}

p.price-total {
  font-size: 30px;
  margin-bottom: 0.2em;
  font-weight: 600;
  text-align: center;
}

b.bold-typography {
  margin-right: 4px;
  margin-left: 4px;
}

div.div-center {
  display: flex;
  justify-content: center;
}

@media (max-width: 740px) {

  div.toolbar {
    min-height: 125px;
  }

  span.typography-bar-title {
    font-size: 20px;
    margin-top: 5px;
  }

  div.div-row-title {
    display: inline;
    flex-flow: column;
    padding: 1em;
  }

  p.typography-mobileList-title {
    font-size: 16px;
    margin-right: 2px;
    margin-bottom: 1rem;
  }

  p.typography-mobileList-filter {
    margin: auto;
    margin-right: 0.8rem;
    margin-left: 0.2rem;
    font-size: 14px;
    margin-top: 0.8rem
  }

  button.details-button {
    font-size: 12px;
  }

  img.img-description {
    min-width: none;
    margin: auto;
  }

  div.paper-description {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  p.typography-theme {
    margin-right: 0.2em;
  }

  p.cart-modelbrand {
    font-size: 14px;
  }

  p.cart-price {
    font-size: 18px;
    margin-left: 0.5em;
    font-weight: 600;
    margin-right: 10px;
  }

  div.div-row-center-cart {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1.4em;
  }

  div.div-column-center-cart {
    display: flex;
    flex-flow: column;
    margin-left: 1em;
    margin-bottom: 1em;
    margin-top: 1.4em;
  }

  p.items-cart {
    font-size: 14px;
  }

  div.div-row-column {
    display: flex;
    flex-direction: column;
    padding: 1em;
  }

  div.paper-summary {
    margin-left: 0em;
    padding: 1.4em;
    width: 76%;
  }

  div.div-row-center-paper-cart {
    display: flex;
    flex-flow: row;
    justify-content: center;
  }

}

@media (min-width: 1600px) {
  button.details-button {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  div.paper-summary {
    width: 480px;
  }
}